# ========================
# Mac system files
# ========================
.DS_Store
**/.DS_Store

# ========================
# Large datasets (DO NOT PUSH)
# ========================
data/raw/
data/processed/
outputs/

# Keep folders but ignore contents
!data/raw/.gitkeep
!data/processed/.gitkeep